Binaries
DerivedDataCache
Intermediate
Saved
Content/Static
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

**/[Tt]exture/*
!**/[Tt]exture/

**/[Mm]aterial/*
!**/[Mm]aterial/

**/[Aa]nimation/*
!**/[Aa]nimation/

**/[Tt]extures/*
!**/[Tt]extures/

**/[Mm]aterials/*
!**/[Mm]aterials/

**/[Aa]nimations/*
!**/[Aa]nimations/